@tailwind base;
@tailwind components;
@tailwind utilities;

.player-selected{
    border-inline-end: 5px solid rgb(31, 194, 200);
}

.card-container{
    background: linear-gradient(185.91deg, rgba(211, 253, 232, 0.092) 29.07%, rgba(255, 255, 255, 0.12) 153.72%);
    backdrop-filter: blur(23px);
}


.Playerbar{
    backdrop-filter: blur(100px);
    background-color: rgba(0, 0, 0, 0.104);
}