@tailwind base;
@tailwind components;
@tailwind utilities;

.player-selected{
    border-inline-end: 5px solid rgb(31, 194, 200);
}


.Playerbar{
    backdrop-filter: blur(100px);
    background-color: rgba(0, 0, 0, 0.104);
}



.card-blur{
    background-color: rgba(0, 0, 0, 0.051);
    backdrop-filter: blur(100px);
}

.card{
    border-left: 1px  solid rgba(255, 255, 255, 0.150);
    border-top: 1px  solid rgba(255, 255, 255, 0.150);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 40px 1px rgba(0, 0, 0, 0.359); 
}

.faded{
    background-color: rgba(0, 0, 0, 0.300);
    
}

.faded-light{
    background-color: rgba(0, 0, 0, 0.150);
}
.faded2{
    background-color: rgba(255, 255, 255, 0.178);
}