@tailwind base;
@tailwind components;
@tailwind utilities;

.player-selected{
    border-inline-end: 5px solid rgb(31, 194, 200);
}


.Playerbar{
    backdrop-filter: blur(100px);
    background-color: rgba(0, 0, 0, 0.104);
}



.card-blur{
    background-color: rgba(0, 0, 0, 0.051);
    backdrop-filter: blur(100px);
}

.card{
    border: 1px solid rgba(0, 0, 0, 0.177);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 30px 1px rgba(0, 0, 0, 0.262); 
}

